@use "spacing";
@use "color";

.btn {
  cursor: pointer;
  margin: spacing.$spacer-2 spacing.$spacer-1 spacing.$spacer-2 0;
  border-radius: 1.3rem;
  border: 0 none;
  background-color: color.$gray;
  padding: .5rem 1.3rem;
  color: color.$white;
  font-size: 1.2rem;

  &:hover {
    background-color: color.$grayLight;
  }

  &-edit {
    background-color: color.$orange;

    &:hover {
      background-color: color.$orange;
    }
  }

  &-info {
    background-color: color.$green;

    &:hover {
      background-color: color.$greenDarker;
    }
  }

  &-primary {
    background-color: color.$grayDarker;

    &:hover {
      background-color: color.$gray;
    }
  }

  &-remove {
    background-color: color.$red;

    &:hover {
      background-color: color.$redDarker;
    }
  }

  &-submit {
    background-color: color.$blueLight;

    &:hover {
      background-color: color.$blueDark;
    }
  }

  &-outline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid color.$grayLighter;
    border-radius: 1.5rem;
    background-color: transparent;
    color: color.$black;

    a, :hover {
      color: color.$blackLighter !important;
      text-decoration: none;
    }

    &:hover {
      background-color: color.$grayLightest;
    }
  }

  &-toggle {
    border: 0;
    background-color: transparent;
    color: color.$black;

    &:hover {
      background-color: transparent;
    }
  }

  &-link {
    display: inline-block;
    margin: spacing.$spacer-3;
    background-color: transparent;
    padding: 0;
    color: color.$blueLighter;
    text-decoration: none;

    a {
      display: inline-block;
      padding: 0 .5rem;
      color: color.$blueLight;
    }

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  a {
    color: color.$white;
    text-decoration: none;
  }
}