$black: #000;
$blackLight: #1f1e1e;
$blackLighter: #363333;
$blueDark: #065170;
$blueDarker: #292e38;
$blueLight: #1d9fd4;
$blueLighter: #0070f3;
$darkmagenta: #8B008BFF;
$gray: #454444;
$grayDarker: #3a3939;
$grayLight: #7c807c;
$grayLighter: #b7bab7;
$grayLightest: #edefed;
$grayWhite: #f9fcf9;
$green: #0d7406;
$greenDarker: #095E03FF;
$orange: #e79706;
$red: #ea062e;
$redDarker: #a80520;
$white: #FFF;


