$cols: 1 2 3 4 5 6 7 8 9 10 11 12;
$colors: (
        "black": black,
        "blue": blue,
        "darkblue": darkblue,
        "darkmagenta": darkmagenta,
        "darkred": darkred,
        "deeppink": deeppink,
        "dodgerblue": dodgerblue,
        "gold": gold,
        "gray": gray,
        "green": green,
        "orange": orange,
        "red": red,
        "silver": silver,
        "white": white,
        "yellow": yellow
);

$display-values: block flex inline inline-block inline-flex;

@each $color, $value in $colors {
  .color-is-#{$color} {
    color: $value;
  }

  .bg-color-is-#{$color} {
    display: inline-block;
    background-color: $value;
  }
}



