$cols: 1 2 3 4 5 6 7 8 9 10 11 12;
$colors: black blue darkblue darkmagenta darkred deeppink dodgerblue gold gray green orange red silver white yellow;
$display-values: block flex inline inline-block inline-flex;

@each $color in $colors {
  .color-is-#{$color} {
    color: $color;
  }

  .bg-color-is-#{$color} {
    background-color: $color;
  }
}



