@use "spacing";
@use "color";
@use "functions";
@use "mixins";
@use "btn";

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 1.5rem 1.5rem 3rem 1rem;
  font-size: 18px;
}

h1 {
  @include mixins.fontSize(2.1rem, 500);
  margin: 0 0 spacing.$spacer-3 0;
}

h2 {
  @include mixins.fontSize(1.85rem, 500);
  margin: 0 0 spacing.$spacer-3 0;
}

h3 {
  @include mixins.fontSize(1.5rem, 500);
  margin: 0 0 spacing.$spacer-3 0;
}

h4 {
  @include mixins.fontSize(1.3rem, 500);
  margin: 0 0 spacing.$spacer-3 0;
}

h5 {
  @include mixins.fontSize(1.2rem, 500);
  margin: 0 0 spacing.$spacer-3 0;
}

ul {
  margin: spacing.$spacer-3 0;
  padding: 0;
  list-style: none;

  li {
    @include mixins.fontSize(1.1rem, normal);
    margin: 0;
    padding: 0 0 .5rem 0;

    a {
      display: inline-block;
      text-decoration: none;

      &:hover {
        //color: $blueLighter;
        //text-decoration: underline;
      }
    }
  }

  &.hasTypeDisc,
  &.hasTypeDecimal {
    margin-left: spacing.$spacer-5;

    li {
      padding-left: 0;
    }
  }

  &.hasTypeDisc {
    list-style: disc;
  }

  &.hasTypeDecimal {
    list-style: decimal;
  }
}

a {
  color: color.$blackLight;

  &.isActive {
    color: color.$blueLighter;
    font-weight: 500;
  }

  &:hover {
    color: color.$black;
  }
}

mark {
  @include mixins.fontSize(1.1rem, 400);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: color.$grayLight;
  padding: .2rem .5rem;

  &-bg-color {
    &-orange {
      background-color: color.$black;
    }
  }
}

.display {
  &-flex,
  &-flex-inline {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;

    &-column {
      flex-flow: column;
    }

    &-align-items-center {
      align-items: center;
    }

    &-align-items-start {
      align-items: start;
    }

    &-justify-center {
      justify-self: center;
    }

    &-justify-start {
      justify-content: start;
    }

    &-justify-end {
      justify-content: end;
    }
  }

  &-flex-inline {
    display: inline-flex;
  }

  &-grid {
    display: grid;
    gap: 1rem;

    &-temp-nav-primary {
      grid-template-columns: 20% auto;
    }

    &-temp-col-2 {
      grid-template-columns: 20% auto;
    }

    &-temp-col-3 {
      grid-template-columns: auto auto auto;
    }

    &-temp-col-4 {
      grid-template-columns: auto auto auto auto;
    }

    &-justify-start {
      justify-self: start;
    }

    &-justify-end {
      justify-self: end;
    }
  }

  &-inline {
    display: inline;
  }

  &-visibility-hidden {
    display: none;
  }
}

.bg-rounded {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: color.$red;
  margin: spacing.$spacer-1 ;
  border-radius: 50%;
  color: color.$white;

  &-size-16 {
    @include mixins.fontSize('1.2rem', 500);
    width: 16px;
    height: 16px;
  }

  &-size-24 {
    @include mixins.fontSize(1.5rem, 500);
    width: 24px;
    height: 24px;
    line-height: 1.5rem;
  }

  &-size-32 {
    @include mixins.fontSize(1.9rem, 500);
    width: 32px;
    height: 32px;
  }

  &-size-64 {
    @include mixins.fontSize(2rem, 500);
    width: 64px;
    height: 64px;
  }
}