@use "../../app/styles/mixins" as *;
@use "../../app/styles/color" as *;
@use "../../app/styles/spacing" as *;

.breadcrumbBox {
  li {
    @include fontSize(.9rem, 400);

    a {
      color: $grayLight;

      &:hover {
        color: $grayDarker;
      }
    }
  }

  &__icoArrowRight {
    margin: 0 $spacer-2;
  }

  &__isSelected {
    @include fontSize(.9rem, 400);
    color: $blackLight;
  }
}

