@use "../../app/styles/spacing";

.isNavPrimary {
  position: fixed;
  top: 2rem;
  left: 1rem;
  margin-top: 0;

  li {
    padding: 0 0 .8rem 1rem;
  }
}

.isNavSecondary {
  margin: spacing.$spacer-3 0;

  li {
    display: inline;
    margin: 0;
    padding-left: 0;
    padding-right: 1.5rem;
  }
}
